/*
 * play with custom styles in admonitions
 */
.custom {
   background-color: rgb(251, 231, 234) !important;
   font-size: x-small;
}

div.myst {
   background-color: rgb(239, 255, 241);
   border-radius: 10px;
   border: solid  rgb(7, 78, 52);

}